# Actividad 1

In [1]:
print ("Hola Mundo, esta es mi primera incursion en Python")

Hola Mundo, esta es mi primera incursion en Python

In [2]:
#Desafio 1
Nombre = "Gaston Cordeiro"
print(Nombre)
Edad= 29
print (Edad)
lista_actividades_fav = ["JiuJitsu Brasilero", "Jugar Videojuegos", "Escuchar Musica" ]
print (lista_actividades_fav)
Mascota= "Tengo un perro llamado Cid"
print (Mascota)

Gaston Cordeiro
29
['JiuJitsu Brasilero', 'Jugar Videojuegos', 'Escuchar Musica']
Tengo un perro llamado Cid

In [3]:
#Desafio 2
print(type (lista_actividades_fav [1]))

<class 'str'>

In [4]:
#Desafio 3
print ("Mi nombre es", Nombre, "tengo", Edad, "y mis actividades favoritas son:", lista_actividades_fav)

Mi nombre es Gaston Cordeiro tengo 29 y mis actividades favoritas son: ['JiuJitsu Brasilero', 'Jugar Videojuegos', 'Escuchar Musica']

In [5]:
#Desafio 4
print("Estaba la pájara pinta sentada en el verde limón")
# faltaba cerrar con comillas

Estaba la pájara pinta sentada en el verde limón

In [6]:
print ('Mi nombre es', Nombre, 'y tengo', Edad, 'años')
# el error estaba en el nombre de las variables que no eran las mismas que yo habia definido 
# y faltaban 2 comas para separar la sintaxis.

Mi nombre es Gaston Cordeiro y tengo 29 años

In [7]:
import pandas as pd
import numpy as np
# estaba mal escrito como padnas y nunnpy

In [8]:
"Ornitorrinco" + " 45"
#No se puede sumar str con int. converti el 45 en str.

'Ornitorrinco 45'

In [9]:
#Desafio 5
df=pd.read_csv ("flights.csv")

In [10]:
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
5    1949       June         135
6    1949       July         148
7    1949     August         148
8    1949  September         136
9    1949    October         119
10   1949   November         104
11   1949   December         118
12   1950    January         115
13   1950   February         126
14   1950      March         141
15   1950      April         135
16   1950        May         125
17   1950       June         149
18   1950       July         170
19   1950     August         170
20   1950  September         158
21   1950    October         133
22   1950   November         114
23   1950   December         140
24   1951    January         145
25   1951   February         150
26   1951      March         178
27   1951      April         163
28   1951        May         172
29   1951       June         178
..    ...        ...         ...
114  1958       July         491
115  1958     August         505
116  1958  September         404
117  1958    October         359
118  1958   November         310
119  1958   December         337
120  1959    January         360
121  1959   February         342
122  1959      March         406
123  1959      April         396
124  1959        May         420
125  1959       June         472
126  1959       July         548
127  1959     August         559
128  1959  September         463
129  1959    October         407
130  1959   November         362
131  1959   December         405
132  1960    January         417
133  1960   February         391
134  1960      March         419
135  1960      April         461
136  1960        May         472
137  1960       June         535
138  1960       July         622
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [11]:
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [12]:
df.tail(5)

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [13]:
df.year.describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [14]:
df.year.value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [15]:
df.month.value_counts()

November     12
March        12
July         12
January      12
September    12
October      12
May          12
April        12
August       12
February     12
December     12
June         12
Name: month, dtype: int64

In [16]:
primeras=df.head(15)
print(primeras)

    year      month  passengers
0   1949    January         112
1   1949   February         118
2   1949      March         132
3   1949      April         129
4   1949        May         121
5   1949       June         135
6   1949       July         148
7   1949     August         148
8   1949  September         136
9   1949    October         119
10  1949   November         104
11  1949   December         118
12  1950    January         115
13  1950   February         126
14  1950      March         141

In [17]:
ultimas=df.tail(15)
print(ultimas)

     year      month  passengers
129  1959    October         407
130  1959   November         362
131  1959   December         405
132  1960    January         417
133  1960   February         391
134  1960      March         419
135  1960      April         461
136  1960        May         472
137  1960       June         535
138  1960       July         622
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [18]:
#Media, mediana y desviacion estandar de todos los pasajeros.
pasajeros= df["passengers"]

In [19]:
np.mean(pasajeros)

280.2986111111111

In [20]:
np.median(pasajeros)

265.5

In [21]:
np.std(pasajeros)

119.54904153277148

In [35]:
#Media, mediana y desviacion estandar de los primeros 15.
pasa_prim_15 = pasajeros.head(15)
np.mean(pasa_prim_15)

126.8

In [36]:
np.median(pasa_prim_15)

126.0

In [37]:
np.std(pasa_prim_15)

12.681745410891462

In [38]:
#Media, mediana y desviacion estandar de los ultimos 15.
pasa_ult_15 = pasajeros.tail(15)
np.mean(pasa_ult_15)

459.2

In [39]:
np.median(pasa_ult_15)

432.0

In [40]:
np.std(pasa_ult_15)

75.29426715671431

In [28]:
pasajeros.describe()

count    144.000000
mean     280.298611
std      119.966317
min      104.000000
25%      180.000000
50%      265.500000
75%      360.500000
max      622.000000
Name: passengers, dtype: float64

In [ ]:
#Comentario final: Se puede observar en los resultados como son muy distintos al hacer los estudios sobre una poblacion 
#(en este caso el total de pasajeros) que al hacerlos en una muestra (como serian los primeros o ultimos 15 pasajeros).
#Y ademas donde mas diferencia se puede notar en un estudio respecto de otro es en los valores de la desviacion estandar
#realizados en las muestras de los primeros y ultimos 15 pasajeros
#(en la de los primeros da un valor de 12.68 y en la de los ultimos 75.29 )